.title {
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
}

.title > h2 {
  font-size: 20px !important;
  font-weight: 700;
}

.title__icon {
  color: var(--twitter-color);
  font-size: x-large;
}
