.whoToFollow {
  padding: 15px;
  background-color: #f5f8fa;
}

.whoToFollow__body {
  display: flex;
  align-items: center;
}

.whoToFollow__userInfo {
  flex: 1;
  display: flex;
  align-items: center;
}

.whoToFollow__userInfo h4 {
  font-size: 16px;
}

.whoToFollow__userName {
  margin-left: 15px;
}

.whoToFollow__userName h4 {
  margin: 0;
}
.whoToFollow__userHandle {
  color: gray;
  font-weight: unset;
}

.whoToFollow__button {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.btn__follow {
  border-radius: 20px !important;
  text-transform: capitalize;
  padding: 5px 15px;
  font-weight: 700;
  border: 1px solid var(--twitter-color);
  background-color: initial;
}

.btn__follow:hover,
.btn__follow:focus {
  outline-width: 0;
}
