.post {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var(--twitter-background);
  position: relative;
}

.post__avatar > img {
  width: 50px;
  border-radius: 40px;
  height: 50px;
  object-fit: cover;
}

.post__body {
  padding: 10px;
}

.post__info {
  display: flex;
  align-items: center;
}

.post__info h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0 !important;
}

.post__badge {
  color: #1a91da;
  margin-left: 1px;
}

.post__editIcon {
  font-size: 28px;
  color: gray;
  position: absolute;
  top: 10px;
  right: 10px;
}

.post__userImagePost {
  height: 65%;
  border-radius: 10px;
  width: 100%;
}

.post__footerIcons {
  display: flex;
  justify-content: space-around;
  font-size: large;
  color: gray;
}

@media (max-width: 2621px) {
  .post__body {
    flex: 1 !important;
  }
}
