.sidebarOption {
  display: flex;
  cursor: pointer;
  padding: 10px;
}

.sidebarOption > h2 {
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
}

.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 50px;
  color: var(--twitter-color);
  transition: color 0.1s ease-out;
}

.sidebarOption > svg {
  font-size: x-large;
}

.sidebarOption--active {
  color: var(--twitter-color) !important;
}

@media (max-width: 830px) {
  .sidebarOption > h2 {
    display: none !important;
    flex: 0.1;
  }
}
