.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__input > input {
  outline-width: 0;
  font-family: 'Nunito', sans-serif;
}

.tweetBox__imageInput {
  outline-width: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  margin-left: 70px;
}

.tweetBox__imageInput {
  border: none;
  padding: 10px;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none !important;
}

.tweetBox__input > button {
  display: none !important;
}

.tweetBox__bottom {
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.tweetBox__icons {
  display: flex;
  flex: 0.8;
  padding: 0 68px;
  justify-content: space-between;
  color: var(--twitter-color);
}

.tweetBox__fontSize {
  font-size: xx-large !important;
}

.tweetBox__tweetButton {
  background-color: #8ed0f9 !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  font-family: 'Nunito', sans-serif !important;
  margin-left: auto !important;
}

@media (max-width: 700px) {
  .tweetBox__icons {
    display: none !important;
  }
}
