.tweetBox {
  padding: 10px;
  border-bottom: 10px solid var(--twitter-background);
}

.tweetBox__input {
  padding: 5px;
  display: flex;
}

.tweetBox__input svg {
  font-size: 36px;
}

.tweetBox__input input {
  border: none;
  font-size: 20px;
  margin-left: 5px;
  outline-width: 0;
}

.tweetBox__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.tweetBox__icons {
  display: flex;
  align-items: center;
  color: var(--twitter-color);
  font-size: x-large;
  padding: 5px 38px;
}

.tweetBox__icons svg {
  margin: 0 10px;
}

.tweetBox__bottom button {
  background-color: #8ed0f9 !important;
  border-radius: 30px !important;
  font-weight: 800;
  font-size: 14px !important;
  text-transform: capitalize;
}
