.widgets {
  flex: 0.3;
  position: relative;
}

.widgets__icon {
  position: absolute;
  top: 8px;
  margin-left: 10px;
  font-size: x-large;
  color: gray;
}

.widgets__form {
  border-radius: 20px !important;
  background: #eff1f2;
}

.widgets__follow {
  background-color: #f5f8fa;
  margin-top: 15px;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

@media (max-width: 1200px) {
  .widgets {
    display: none;
  }
}
